<div class="container home-page">

    <h1>Busca tu artista favorito</h1>

    <hr>

    <form action="/artist-search" method="GET">

        Búsqueda: <input type="text" placeholder="Your favorite artist" name="favArtist">

        <input type="submit" value="Enviar">

    </form>


</div>